<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my_application_one">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.My_Application_one">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DisplayMessageActivity"
            android:parentActivityName=".MainActivity3" />
        <activity
            android:name=".MainActivity3"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StopClock"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BritishLibrary"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TopLevelActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateMessageActivityOne"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ReceiveMessageActivityOne"
            android:parentActivityName=".CreateMessageActivityOne" />
        <activity
            android:name=".DrinkDetailsActivity"
            android:parentActivityName=".TopLevelActivity" />
        <activity
            android:name=".Home"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".About"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity2"
            android:parentActivityName=".MainActivity" />

    </application>

</manifest>